<p>Index</p>

<!-- http://maps.googleapis.com/maps/api/streetview?size=400x400&location=43.64937,-79.386129&heading=0&sensor=false -->

<!-- http://maps.googleapis.com/maps/api/streetview?size=358x168&heading=1.7980161409022752&pitch=0&pano=y8vXDeuLy7wAAAQXDqKVYQ&sensor=false&key=AIzaSyCH7urS_fgtfrvCldKIqqKt423bB8G6Bic -->

<% @businesses.each do |business| %>
  <p><%= "Name: #{business.name}" %></p></br>
  <p><%= "Address: #{business.address}" %><p></br>

  <%= image_tag("http://maps.googleapis.com/maps/api/streetview?size=400x200&heading=#{business.heading}&pitch=0&pano=#{business.pano}&sensor=false") %>
<% end %>