<iframe width="100%" height="60%" src="<%= @business.streetview_tour %>" frameborder="0" allowfullscreen></iframe>

<h1><%= "Name: #{@business.name}" %></h1>
<p><%= "Address: #{@business.address}" %></p>