<div id="video-container">
	<%= video_tag("tajmahal.mp4", autoplay: true, loop: true, muted: true, :id => "taj-video") %>
	<div id="video-text">
    <h1 class="home-text" id="slogan">Visit places around the world, at home</h1>
    <div>
      <%= button_to "Visit Places", businesses_path, :method => :get, :class => 'button', :id => "home-button" %>
    </div>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
    <%= link_to "Canada", businesses_path(:country => "Canada", :category => "") %>
    <%= link_to "United States", businesses_path(:country => "United States", :category => "") %>
	</div>
</div>