// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
	// margin: 0 2px 15px;	
	padding: 15px;
	padding-bottom: 5px;
	margin-top: 20px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
}

.form {
	margin-left: 10%;
	margin-right: 10%;
}

#search {
	display: inline;
}

#search-content {
	margin-left: 30%;
}

#country-select {
	width: 25%;
}

#category-select {
	width: 25%;
}

#show-info {
	text-align: center;
}

#disqus_thread {
	width: 80%;
	margin: 0 auto;
}