// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country {
	margin-bottom: 25px;
	// margin-right: 25px;
	opacity: 0.85;
	position: relative;
	// width: 300px;
	// height: 220px;
	// background-size: cover;
}

// .country-text {
// 	position: absolute;
// 	top: 40%;
// 	left: 0;
// 	text-align: center;
// 	color: white;
// 	width: 100%;
// 	font-size: 2em;
// }

#video-container {
	position: relative;
	overflow: hidden;
	margin-bottom: 100px;
	width: 100%;
}

#video-text {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
}

#taj-video {
	width: 100%;
	height: auto;
	z-index: 1;
}

#about-text {
	margin-left: 10%;
	margin-right: 10%;
}

#about-title {
	text-align: center;
}

.home-text {
	font-size: 300%;
	text-align: center;
	color: white;
	width: 100%;
	text-align: center;
}

#home-button {
	opacity: 0.5;
	left:45%;
}

#country-select-title {
	text-align: center;
	margin-bottom: 50px;
	
}

#select-title {
	color: #565a5c;
}

// #canada {
// 	background-image: url("canada.jpg");
// }

// #unitedstates {
// 	background-image: url("unitedstates.jpg");
// }

// #india {
//   background-image: url("india.jpg");	
// }

// #japan {
//   background-image: url("japan.jpg");	
// }

// #cambodia {
//   background-image: url("cambodia.jpg");	
// }

// #antarctica {
//   background-image: url("antarctica.jpg");	
// }

// #china {
// 	background-image: url("china.jpg");
// }

// #brazil {
//   background-image: url("brazil.jpg");	
// }

// #ocean {
//   background-image: url("ocean.jpg");	
// }

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block; 
  position: relative;
  
}

span.text-content {
  color: white;
  left: 0;
  position: absolute;
  top: 0;
  font-size: 300%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
