// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country {
	margin-bottom: 25px;
	opacity: 0.85;
}

#video-container {
	position: relative;
	overflow: hidden;
	margin-bottom: 100px;
}

#video-text {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
}

#taj-video {
	width: 100%;
	height: auto;
	z-index: 1;
}

#about-text {
	margin-left: 10%;
	margin-right: 10%;
}

#about-title {
	text-align: center;
}

.home-text {
	font-size: 3em;
	text-align: center;
	color: white;
	width: 100%;
	text-align: center;
}

#home-button {
	opacity: 0.5;
	left:45%;
}

#country-select-title {
	text-align: center;
	margin-bottom: 50px;
	
}

#select-title {
	color: #565a5c;
}