// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-text {
	margin-left: 10%;
	margin-right: 10%;
}

#about-title {
	text-align: center;
}

